In [21]:
# Version 1.01
# Authors: 1) Hamza Nadeem
#          2) Monica Restrepo
#          3) Nency Borad
#          4) Ajinkya Mukherjee
# Date      Name  Version Description
# 5/6/2022  SCL   1.01    Refactor code for Hypothesis (part II), and remove all
#                         EDA code.
#                 1.01    Perform Feature Selection and create utility matrix
#                         labelled data, for supervised machine learning
#
# -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

In [22]:
# Features: 1) PopSize 
#           2) Time
#           3) Date
#           4) Num of complaints
#           5) Type of Crime [Felony, Misdorminor, Violation]
#           -) Class = [ Low Crime, Medium Crime, High Crime ]
#               10 = Low
#              200 = Medium
#             9000 = High

# Hypo: FIgure out which zip codes will increase/dec in crime rate? 
#and we need to categorize the dataset into LOW MID HIGH  
# Algorithms: 1) SVM
#             2) Bayes (NB)
#             3) Random Forest
#             4) Logistic Regression (0 or 1)
# -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

In [23]:
# Questions to ask Professor
# Q1: We did all this, how do add them to our Feature list
# Q2: How do we Classify what is high,low,medium ( How do we get the score) = Range of the score
# Q3: How do we get Population by Zipcode from total population of Burrow
# Q4: Can we use the Number of Crimes in Each Zipcode as our Feature for number of complaints / per area
# Q5: How do we add Labels to our dataset inorder to Train them - adding Labels to the Testing set
# Q6: How does the iris dataset have so many features & Classes, how do we optimize our features accordingly 
#     and why do we require so many featueres and Classes?
# Q7: Are we implementing the Alogirthms correct

In [24]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [25]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)

In [26]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.4.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.16 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)

In [27]:
!pip install geopy

Requirement already satisfied: geopy in c:\programdata\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\programdata\anaconda3\lib\site-packages (from geopy) (1.52)

In [28]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: numpy>=1.14.6 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df1 = pd.read_csv(r'C:\Users\hnade\Downloads\AI\final_project_csvs\NYPD_Complaint_Data_Historic.csv', low_memory=False)
df2 = pd.read_csv(r'C:\Users\hnade\Downloads\AI\final_project_csvs\Crime_Column_Description.csv', low_memory=False)
df3 = pd.read_csv(r'C:\Users\hnade\Downloads\AI\final_project_csvs\Population_by_Borough_NYC.csv', low_memory=False)
#df4 = pd.read_csv('/content/gdrive/MyDrive/AI/final_project_csvs/ziptoborough.csv')

In [30]:
df1=df1.iloc[600000:700000]

In [31]:
def makeCategories(df):
  category = [health,residence,worship,pub,retail,Tranportation,Food_Beverage,finance,other]
  residence_count = 0
  health_count = 0
  worship_count = 0
  pub_count = 0
  retial_count = 0
  tranport_count = 0
  foodbev_count = 0
  finance_count = 0
  other_count = 0
  df['Food & beverage'] = 0

  for a in df['PREM_TYP_DESC']:
    if a in residence:      
      residence_count += 1
      
    if a in other:
      other_count += 1

    if a in finance:
      finance_count += 1

    if a in Food_Beverage:
      foodbev_count += 1
      df['Food and beverage'] = 1
      pass

    if a in Tranportation:
      tranport_count += 1

    if a in retail:
      retial_count += 1

    if a in worship:
      worship_count += 1
        
    if a in health:
      health_count += 1
      
  print('residence',residence_count)
  print('other',other_count)
  print('finance',finance_count)
  print('food',foodbev_count)        
  print('Transport',tranport_count)
  print('Retail',retial_count)
  print('Worship',worship_count)
  print('Health',health_count)

  return residence_count, other_count, finance_count, foodbev_count, tranport_count, retial_count, worship_count, health_count, pub_count

In [32]:
health = ['DRUG STORE','DOCTOR/DENTIST OFFICE','HOSPITAL']
residence = ['RESIDENCE-HOUSE','RESIDENCE - APT. HOUSE','RESIDENCE - PUBLIC HOUSING']
worship = ['CHURCH','SYNAGOGUE','OTHER HOUSE OF WORSHIP','MOSQUE']
pub = ['STREET','PUBLIC BUILDING','PARK/PLAYGROUND','PARKING LOT/GARAGE (PUBLIC)','PRIVATE/PAROCHIAL SCHOOL','BOOK/CARD','MARINA/PIER',
       'PUBLIC SCHOOL','CEMETERY']
retail = ['DRY CLEANER/LAUNDRY','GAS STATION','CHAIN STORE','BEAUTY & NAIL SALON',
          'COMMERCIAL BUILDING','HOTEL/MOTEL','SMALL MERCHANT','PARKING LOT/GARAGE (PRIVATE)',
          'DEPARTMENT STORE','GYM/FITNESS FACILITY','VARIETY STORE','CLOTHING/BOUTIQUE','TELECOMM. STORE',
          'JEWELRY','CANDY STORE','STORAGE FACILITY','VIDEO STORE']
Tranportation = ['TUNNEL','TRANSIT - NYC SUBWAY','BUS (NYC TRANSIT)','FERRY/FERRY TERMINAL','BUS STOP','TAXI (LIVERY LICENSED)',
                 'BRIDGE','AIRPORT TERMINAL','HIGHWAY/PARKWAY','BUS (OTHER)',
                 'TRANSIT FACILITY (OTHER)','BUS TERMINAL','TAXI (YELLOW LICENSED)','TAXI/LIVERY (UNLICENSED)','TRAMWAY']
Food_Beverage= ['BAR/NIGHT CLUB' , 'FAST FOOD' , 'RESTAURANT/DINER' , 'GROCERY/BODEGA' , 'FOOD SUPERMARKET' , 'SOCIAL CLUB/POLICY' , 'LIQUOR STORE']
finance = ['CHECK CASHING BUSINESS','BANK','ATM','LOAN COMPANY']
other = ['OTHER','STORE UNCLASSIFIED','CONSTRUCTION SITE','FACTORY/WAREHOUSE','OPEN AREAS (OPEN LOTS)','ABANDONED BUILDING','SHOE','PHOTO/COPY']

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 600000 to 699999
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CMPLNT_NUM         100000 non-null  int64
 1   CMPLNT_FR_DT       99992 non-null   object
 2   CMPLNT_FR_TM       100000 non-null  object
 3   CMPLNT_TO_DT       80310 non-null   object
 4   CMPLNT_TO_TM       80347 non-null   object
 5   RPT_DT             100000 non-null  object
 6   KY_CD              100000 non-null  int64
 7   OFNS_DESC          99671 non-null   object
 8   PD_CD              99929 non-null   float64
 9   PD_DESC            99929 non-null   object
 10  CRM_ATPT_CPTD_CD   100000 non-null  object
 11  LAW_CAT_CD         100000 non-null  object
 12  JURIS_DESC         100000 non-null  object
 13  BORO_NM            100000 non-null  object
 14  ADDR_PCT_CD        100000 non-null  float64
 15  LOC_OF_OCCUR_DESC  77950 non-null   object
 16  PREM_TYP_DESC      99594 non-null   object
 17  PARKS_NM           1564 non-null    object
 18  HADEVELOPT         4566 non-null    object
 19  X_COORD_CD         95737 non-null   float64
 20  Y_COORD_CD         95737 non-null   float64
 21  Latitude           95737 non-null   float64
 22  Longitude          95737 non-null   float64
 23  Lat_Lon            95737 non-null   object
dtypes: float64(6), int64(2), object(16)
memory usage: 18.3+ MB

In [34]:
residencecount, othercount, financecount, foodbevcount, tranportcount, retialcount, worshipcount, healthcount, pubcount = makeCategories(df1)

residence 37125
other 3753
finance 551
food 4938
Transport 3508
Retail 11108
Worship 256
Health 1679

In [35]:
#Assign zipcodes to each row

import geopy
from geopy.point import Point

def get_zipcode(df1, geolocator, Latitude, Longitude):
  zipcode = 99999
  try: 
    location = geolocator.reverse(Point(df1["Latitude"], df1["Longitude"]))
    zipcode = location.raw['address']['postcode']
    zipcode = int(zipcode)
  except:
    pass
  return zipcode

geolocator = geopy.Nominatim(user_agent='AI-application')
df1['Zipcodes'] = df1.apply(get_zipcode, axis=1, geolocator=geolocator, Latitude=df1["Latitude"], Longitude=df1["Longitude"])
df1.to_csv (r'C:\Users\hnade\Downloads\AI\final_project_csvs\export_dataframe7.csv', index = False, header=True)

In [36]:
df1.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,Food & beverage,Food and beverage,Zipcodes
600000,154194242,9/25/2014,10:00:00,9/28/2014,12:30:00,9/28/2014,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",...,NaN,NaN,1002276.0,251937.0,40.858174,-73.934837,"(40.858173522, -73.934836924)",0,1,99999
600001,636178922,9/25/2014,7:30:00,9/28/2014,18:00:00,9/28/2014,107,BURGLARY,221.0,"BURGLARY,RESIDENCE,DAY",...,NaN,NaN,984404.0,187702.0,40.681884,-73.999446,"(40.681883606, -73.999446202)",0,1,99999
600002,446221511,9/25/2014,7:00:00,9/25/2014,23:00:00,9/28/2014,107,BURGLARY,221.0,"BURGLARY,RESIDENCE,DAY",...,NaN,NaN,1022375.0,146521.0,40.568768,-73.862775,"(40.568768433, -73.862775491)",0,1,99999
600003,169181805,9/25/2014,6:45:00,9/25/2014,6:45:00,9/28/2014,121,CRIMINAL MISCHIEF & RELATED OF,269.0,"MISCHIEF,CRIMINAL, UNCL 2ND",...,NaN,NaN,1001955.0,216397.0,40.760627,-73.936091,"(40.760626741, -73.936091079)",0,1,99999
600004,832826426,9/25/2014,4:00:00,9/25/2014,4:15:00,9/28/2014,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",...,NaN,NaN,998334.0,167536.0,40.626521,-73.949264,"(40.62652114, -73.949264079)",0,1,99999

HYPOTHESIS: Segregate Burrows based on type of crime.

In [37]:
# Pop Size
feature_1 = df3[['Borough','2010']]
feature_1

            Borough       2010
0         NYC Total  8,242,624
1             Bronx  1,385,108
2          Brooklyn  2,552,911
3         Manhattan  1,585,873
4            Queens  2,250,002
5     Staten Island    468,730

In [38]:
# Time of Day
feature_set = df1[['CMPLNT_FR_TM','BORO_NM','Zipcodes']]
feature_set.set_index('Zipcodes', inplace=True)
feature_set.head()

         CMPLNT_FR_TM    BORO_NM
Zipcodes
99999        10:00:00  MANHATTAN
99999         7:30:00   BROOKLYN
99999         7:00:00     QUEENS
99999         6:45:00     QUEENS
99999         4:00:00   BROOKLYN

In [39]:
feature_set['Count'] = df1.groupby(by='Zipcodes')['CMPLNT_NUM'].count()

# Datetime conversion using astype:
#feature_set['CMPLNT_FR_TM'] = feature_set['CMPLNT_FR_TM'].astype('datetime64[ns]')
feature_set.head()

C:\Users\hnade\AppData\Local\Temp/ipykernel_36132/3093834656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_set['Count'] = df1.groupby(by='Zipcodes')['CMPLNT_NUM'].count()

         CMPLNT_FR_TM    BORO_NM  Count
Zipcodes
99999        10:00:00  MANHATTAN  99999
99999         7:30:00   BROOKLYN  99999
99999         7:00:00     QUEENS  99999
99999         6:45:00     QUEENS  99999
99999         4:00:00   BROOKLYN  99999

In [40]:
#if time between 6pm and 4am, and count > 10, then high_crime
#if time between 6pm and 4am, and count < 10 but > 5, then medium_crime
#if time between 6pm and 4am, and count < 5, then low_crime