In [31]:
# Version 1.01
# Authors: 1) Hamza Nadeem
#          2) Monica Restrepo
#          3) Nency Borad
#          4) Ajinkya Mukherjee
# Date      Name  Version Description
# 5/6/2022  SCL   1.01    Refactor code for Hypothesis (part II), and remove all
#                         EDA code.
#                 1.01    Perform Feature Selection and create utility matrix
#                         labelled data, for supervised machine learning
#
# -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

In [32]:
# Features: 1) PopSize 
#           2) Time
#           3) Date
#           4) Num of complaints
#           5) Type of Crime [Felony, Misdorminor, Violation]
#           -) Class = [ Low Crime, Medium Crime, High Crime ]
#               10 = Low
#              200 = Medium
#             9000 = High

# Hypo: FIgure out which zip codes will increase/dec in crime rate? 
#and we need to categorize the dataset into LOW MID HIGH  
# Algorithms: 1) SVM
#             2) Bayes (NB)
#             3) Random Forest
#             4) Logistic Regression (0 or 1)
# -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

In [33]:
# Questions to ask Professor
# Q1: We did all this, how do add them to our Feature list
# Q2: How do we Classify what is high,low,medium ( How do we get the score) = Range of the score
# Q3: How do we get Population by Zipcode from total population of Burrow
# Q4: Can we use the Number of Crimes in Each Zipcode as our Feature for number of complaints / per area
# Q5: How do we add Labels to our dataset inorder to Train them - adding Labels to the Testing set
# Q6: How does the iris dataset have so many features & Classes, how do we optimize our features accordingly 
#     and why do we require so many featueres and Classes?
# Q7: Are we implementing the Alogirthms correct

In [34]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [35]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: matplotlib>=2.2 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: scipy>=1.0 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)

In [36]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: numpy>=1.16 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)

In [37]:
!pip install geopy

Requirement already satisfied: geopy in c:\programdata\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\programdata\anaconda3\lib\site-packages (from geopy) (1.52)

In [38]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df1 = pd.read_csv(r'C:\Users\hnade\Downloads\AI\final_project_csvs\NYPD_Complaint_Data_Historic.csv', low_memory=False)
df2 = pd.read_csv(r'C:\Users\hnade\Downloads\AI\final_project_csvs\Crime_Column_Description.csv', low_memory=False)
df3 = pd.read_csv(r'C:\Users\hnade\Downloads\AI\final_project_csvs\Population_by_Borough_NYC.csv', low_memory=False)
#df4 = pd.read_csv('/content/gdrive/MyDrive/AI/final_project_csvs/ziptoborough.csv')

In [40]:
df1=df1.iloc[100000:200000]

In [41]:
def makeCategories(df):
  category = [health,residence,worship,pub,retail,Tranportation,Food_Beverage,finance,other]
  residence_count = 0
  health_count = 0
  worship_count = 0
  pub_count = 0
  retial_count = 0
  tranport_count = 0
  foodbev_count = 0
  finance_count = 0
  other_count = 0
  df['Food & beverage'] = 0

  for a in df['PREM_TYP_DESC']:
    if a in residence:      
      residence_count += 1
      
    if a in other:
      other_count += 1

    if a in finance:
      finance_count += 1

    if a in Food_Beverage:
      foodbev_count += 1
      df['Food and beverage'] = 1
      pass

    if a in Tranportation:
      tranport_count += 1

    if a in retail:
      retial_count += 1

    if a in worship:
      worship_count += 1
        
    if a in health:
      health_count += 1
      
  print('residence',residence_count)
  print('other',other_count)
  print('finance',finance_count)
  print('food',foodbev_count)        
  print('Transport',tranport_count)
  print('Retail',retial_count)
  print('Worship',worship_count)
  print('Health',health_count)

  return residence_count, other_count, finance_count, foodbev_count, tranport_count, retial_count, worship_count, health_count, pub_count

In [42]:
health = ['DRUG STORE','DOCTOR/DENTIST OFFICE','HOSPITAL']
residence = ['RESIDENCE-HOUSE','RESIDENCE - APT. HOUSE','RESIDENCE - PUBLIC HOUSING']
worship = ['CHURCH','SYNAGOGUE','OTHER HOUSE OF WORSHIP','MOSQUE']
pub = ['STREET','PUBLIC BUILDING','PARK/PLAYGROUND','PARKING LOT/GARAGE (PUBLIC)','PRIVATE/PAROCHIAL SCHOOL','BOOK/CARD','MARINA/PIER',
       'PUBLIC SCHOOL','CEMETERY']
retail = ['DRY CLEANER/LAUNDRY','GAS STATION','CHAIN STORE','BEAUTY & NAIL SALON',
          'COMMERCIAL BUILDING','HOTEL/MOTEL','SMALL MERCHANT','PARKING LOT/GARAGE (PRIVATE)',
          'DEPARTMENT STORE','GYM/FITNESS FACILITY','VARIETY STORE','CLOTHING/BOUTIQUE','TELECOMM. STORE',
          'JEWELRY','CANDY STORE','STORAGE FACILITY','VIDEO STORE']
Tranportation = ['TUNNEL','TRANSIT - NYC SUBWAY','BUS (NYC TRANSIT)','FERRY/FERRY TERMINAL','BUS STOP','TAXI (LIVERY LICENSED)',
                 'BRIDGE','AIRPORT TERMINAL','HIGHWAY/PARKWAY','BUS (OTHER)',
                 'TRANSIT FACILITY (OTHER)','BUS TERMINAL','TAXI (YELLOW LICENSED)','TAXI/LIVERY (UNLICENSED)','TRAMWAY']
Food_Beverage= ['BAR/NIGHT CLUB' , 'FAST FOOD' , 'RESTAURANT/DINER' , 'GROCERY/BODEGA' , 'FOOD SUPERMARKET' , 'SOCIAL CLUB/POLICY' , 'LIQUOR STORE']
finance = ['CHECK CASHING BUSINESS','BANK','ATM','LOAN COMPANY']
other = ['OTHER','STORE UNCLASSIFIED','CONSTRUCTION SITE','FACTORY/WAREHOUSE','OPEN AREAS (OPEN LOTS)','ABANDONED BUILDING','SHOE','PHOTO/COPY']

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 100000 to 199999
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CMPLNT_NUM         100000 non-null  int64
 1   CMPLNT_FR_DT       99996 non-null   object
 2   CMPLNT_FR_TM       100000 non-null  object
 3   CMPLNT_TO_DT       81090 non-null   object
 4   CMPLNT_TO_TM       81126 non-null   object
 5   RPT_DT             100000 non-null  object
 6   KY_CD              100000 non-null  int64
 7   OFNS_DESC          99711 non-null   object
 8   PD_CD              99921 non-null   float64
 9   PD_DESC            99921 non-null   object
 10  CRM_ATPT_CPTD_CD   100000 non-null  object
 11  LAW_CAT_CD         100000 non-null  object
 12  JURIS_DESC         100000 non-null  object
 13  BORO_NM            100000 non-null  object
 14  ADDR_PCT_CD        100000 non-null  float64
 15  LOC_OF_OCCUR_DESC  78503 non-null   object
 16  PREM_TYP_DESC      99544 non-null   object
 17  PARKS_NM           1358 non-null    object
 18  HADEVELOPT         5082 non-null    object
 19  X_COORD_CD         98487 non-null   float64
 20  Y_COORD_CD         98487 non-null   float64
 21  Latitude           98487 non-null   float64
 22  Longitude          98487 non-null   float64
 23  Lat_Lon            98487 non-null   object
dtypes: float64(6), int64(2), object(16)
memory usage: 18.3+ MB

In [44]:
residencecount, othercount, financecount, foodbevcount, tranportcount, retialcount, worshipcount, healthcount, pubcount = makeCategories(df1)

residence 38041
other 3991
finance 682
food 4937
Transport 4033
Retail 10735
Worship 213
Health 1555

In [45]:
#Assign zipcodes to each row

import geopy
from geopy.point import Point

def get_zipcode(df1, geolocator, Latitude, Longitude):
  zipcode = 99999
  try: 
    location = geolocator.reverse(Point(df1["Latitude"], df1["Longitude"]))
    zipcode = location.raw['address']['postcode']
    zipcode = int(zipcode)
  except:
    pass
  return zipcode

geolocator = geopy.Nominatim(user_agent='AI-application')
df1['Zipcodes'] = df1.apply(get_zipcode, axis=1, geolocator=geolocator, Latitude=df1["Latitude"], Longitude=df1["Longitude"])
df1.to_csv (r'C:\Users\hnade\Downloads\AI\final_project_csvs\export_dataframe2.csv', index = False, header=True)

In [46]:
df1.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,Food & beverage,Food and beverage,Zipcodes
100000,198441172,10/14/2015,21:24:00,10/14/2015,21:27:00,10/15/2015,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",...,NaN,NaN,1044119.0,226335.0,40.787719,-73.783802,"(40.787718899, -73.783802045)",0,1,99999
100001,705666643,10/14/2015,21:10:00,NaN,NaN,10/15/2015,351,CRIMINAL MISCHIEF & RELATED OF,259.0,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",...,NaN,NaN,1008925.0,191109.0,40.691201,-73.911024,"(40.69120065, -73.911023954)",0,1,99999
100002,274149205,10/14/2015,21:04:00,10/15/2015,2:00:00,10/15/2015,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,AGGRAVATED HARASSMENT 2,...,NaN,NaN,947579.0,170921.0,40.635748,-74.132126,"(40.635747531, -74.132126383)",0,1,99999
100003,971506494,10/14/2015,21:00:00,10/14/2015,21:30:00,10/15/2015,126,MISCELLANEOUS PENAL LAW,198.0,CRIMINAL CONTEMPT 1,...,NaN,NaN,988289.0,161509.0,40.609989,-73.985455,"(40.609988546, -73.985454618)",0,1,99999
100004,340708395,10/14/2015,21:00:00,10/15/2015,6:00:00,10/15/2015,110,GRAND LARCENY OF MOTOR VEHICLE,441.0,"LARCENY,GRAND OF AUTO",...,NaN,NaN,942998.0,163283.0,40.614763,-74.148585,"(40.614762697, -74.14858493)",0,1,99999

HYPOTHESIS: Segregate Burrows based on type of crime.

In [47]:
# Pop Size
feature_1 = df3[['Borough','2010']]
feature_1

            Borough       2010
0         NYC Total  8,242,624
1             Bronx  1,385,108
2          Brooklyn  2,552,911
3         Manhattan  1,585,873
4            Queens  2,250,002
5     Staten Island    468,730

In [48]:
# Time of Day
feature_set = df1[['CMPLNT_FR_TM','BORO_NM','Zipcodes']]
feature_set.set_index('Zipcodes', inplace=True)
feature_set.head()

         CMPLNT_FR_TM        BORO_NM
Zipcodes
99999        21:24:00         QUEENS
99999        21:10:00       BROOKLYN
99999        21:04:00  STATEN ISLAND
99999        21:00:00       BROOKLYN
99999        21:00:00  STATEN ISLAND

In [49]:
feature_set['Count'] = df1.groupby(by='Zipcodes')['CMPLNT_NUM'].count()

# Datetime conversion using astype:
#feature_set['CMPLNT_FR_TM'] = feature_set['CMPLNT_FR_TM'].astype('datetime64[ns]')
feature_set.head()

C:\Users\hnade\AppData\Local\Temp/ipykernel_18648/3093834656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_set['Count'] = df1.groupby(by='Zipcodes')['CMPLNT_NUM'].count()

         CMPLNT_FR_TM        BORO_NM   Count
Zipcodes
99999        21:24:00         QUEENS  100000
99999        21:10:00       BROOKLYN  100000
99999        21:04:00  STATEN ISLAND  100000
99999        21:00:00       BROOKLYN  100000
99999        21:00:00  STATEN ISLAND  100000

In [50]:
#if time between 6pm and 4am, and count > 10, then high_crime
#if time between 6pm and 4am, and count < 10 but > 5, then medium_crime
#if time between 6pm and 4am, and count < 5, then low_crime